html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carousel-home {
    height: 60vh;
    overflow: hidden;
}

.carousel-home .carousel-inner,
.carousel-home .carousel-item {
    height: 100%;
}

.carousel-home img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.category-card {
    border-radius: 18px;
    overflow: hidden;
    transition: transform .15s ease, box-shadow .15s ease;
}

.category-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,.12) !important;
}

.category-img {
    height: 190px;
    width: 100%;
    object-fit: cover;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.product-card {
    border-radius: 18px;
    overflow: hidden;
    transition: transform .15s ease, box-shadow .15s ease;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,.12) !important;
}

.product-img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}