<div id="carouselExampleIndicators" class="carousel slide carousel-home">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                class="active"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="~/img/SliderInicialClientes/Imagen1.jpg" class="d-block w-100" alt="">
            <div class="carousel-caption d-flex align-items-center justify-content-center">
                <h3>No juegas para pasar el tiempo, juegas para dominarlo.</h3>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/img/SliderInicialClientes/Imagewn2.jpg" class="d-block w-100" alt="">
            <div class="carousel-caption d-flex align-items-center justify-content-center">
                <h3>Sube de nivel tu setup, el siguiente boss te está esperando.</h3>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/img/SliderInicialClientes/Imagen3.jpg" class="d-block w-100" alt="">
            <div class="carousel-caption d-flex align-items-center justify-content-center">
                <h3>Cada partida cuenta, cada accesorio marca la diferencia.</h3>
            </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
